<input name="mode" type="checkbox" id="Mode--marked">

<main>
<x-marker-source>Lorem</x-marker-source> ipsum <x-marker-source>dolor sit amet</x-marker-source>, mandamus sapientem at <x-marker-source>quo.</x-marker-source>
</main>
<style>

x-marker-source {
  display: inline;
  background-color: rgba(255, 0, 0, 0.3);
}

#Mode--marked:checked ~ main {
  font-size: 0;
}
#Mode--marked:checked ~ main x-marker-source {
  font-size: initial;
  background-color: transparent;
}
#Mode--marked:checked ~ main x-marker-source::after {
  content: " ";
}
</style>